<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410790811034-b38njme8u8cr1mq2ihnl7tg8soue68it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410790811034-b38njme8u8cr1mq2ihnl7tg8soue68it</string>
	<key>API_KEY</key>
	<string>AIzaSyCSocHjboTTE41XaGVjlgLseSCwyEWrzxw</string>
	<key>GCM_SENDER_ID</key>
	<string>410790811034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandargyurov.lifetracker</string>
	<key>PROJECT_ID</key>
	<string>life-tracker-app-c52bf</string>
	<key>STORAGE_BUCKET</key>
	<string>life-tracker-app-c52bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410790811034:ios:83615d1d9fd1e92be9d623</string>
	<key>DATABASE_URL</key>
	<string>https://life-tracker-app-c52bf.firebaseio.com</string>
</dict>
</plist>